.mrForm_textElement {
	width: 150px;
	margin: 0px 0px 5px 0px;
	padding: 8px 26px 8px 8px;
	background: url('../images/check_gray.jpg') no-repeat scroll;
	background-position: right;
	border: 1px solid #ccc;
	outline: none;
}

.mrForm_textElement:focus {
	background-color: #fff;
}